/********************************
 * COLOR SCHEME / LIGHT TO DARK *
 ********************************

#63add0 - Lightest
#3ca0d1
#0770a0
#245d7a
#03476a - Darkest
#ff8901 - Off Color

*********************************/

* {
  // border: !important;
  font-family: Helvetica, Arial, sans-serif!important;
}
.dashboard {
  min-width: 300px;
  position: relative;
  margin: 0 auto;
  // background-color: black
}
.header {
  background-color:#3ca0d1;
  height: 25px;
  // min-width: 420px;
}
.header a {
  float: right;
  color: white!important;
  font-size: 0.6em!important;
  margin: 7px 10px 0 0;
}
.header a:hover {
  color: blue!important;
}
.header h1 {
  float: left;
  color: #03476a;
  font-size: 1em!important;
  margin: 5px 0 0 10px;
}
.jandr {
  font-weight: bold;
}
.border {
  height: 1px;
  background-color: white;
}
.edit-site {
  background-color:white;
}
.edit-site-data {
  height: 40px;
}
.site-data-form {
  margin: 0 auto;
  width: 99.2%;
}
.site-data {
  // position:absolute;
  float: left;
  height: 39px;
  width: 33.15%;
  background-color: #03476a;
  color: #63add0;
  border-right: 1px solid white;
  // border-bottom: 1px solid white;
  // border-left: 1px solid white;
}
.site-data-label{
  // position:absolute;
  margin: 9px 2px;
  font-size: 1em!important;
  position:relative;
  top:2px;
}
.site-data-input{
  margin: 5px 2px;
  width: 80%;
  height: 8px;
  font-size: 0.7em;
  line-height: 1;
  // position:relative;
  // top:-10px;
}
.site-submit {
  border-right:none;
}
.site-data-submit-button {
  color: white;
  background-color: #ff8901;
  font-size: 0.8em;
  border: 1px solid white;
  border-radius: 5px;
  margin: 11px 12px;
}
.edit-site-logo {
  background-color: white;
}
.current-logo {
  border: 1px solid black;
  margin: 0 1px;
}
.site-logo-header {
  font-size: 1em!important;
  color: #3ca0d1;
  margin: 4px 2px 2px;
}
.current-site-logo {
  width: 150px;
  height: 50px;
  margin: 2px;
}
.update-logo {
  font-size: 0.6em!important;
  color: #3ca0d1;
  margin: 4px 2px 2px;
}
.dashboard {
  background-color: purple;
}
.edit-site {
  // background-color: green;
}
.create-group {
  background-color: gray;
}
.edit-group-form {
  background-color: pink;
}
.create-content {
  background-color: red;
}
.edit-content-form {
  background-color: orange;
}