* {
  border: 1px solid black!important;
}



div {
  border: none;
}

.dashboard {
  width: 80%;
  margin: 0 auto;
}

input[type="submit"]{
  margin: 10px 0;
}

ul, li {
  list-style-type: none;
  padding-left: none;
}

h1, h2, h3, h4, h5, h6, label, div{
  font-size: 1.2em!important;
}

a {
  color: blue!important;
}

// .image-uploader {
//   width: 400px;
//   height: 400px;
// }
.image-uploader,
.image-uploader-header,
.site-logo {
  // border: none;
}
img {
  width: 200px;
  height: 100px;
}