.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

body {
  width: 100%;
  margin: 0 auto;
}

nav {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background-color: #d4d3d1;
  font-size: 2em;
  box-shadow: 0px 0px 10px 1px #666;
  padding: 0 15px 0 0;
}
a {
  text-decoration: none;
  color: black;
}
.nav-brand {
  float: left;
  font-weight: 700;
  color: white;
  display: block;
  margin-left: 15px;
  padding: 10px 30px;
  background-color: #2A52BE
}

nav ul {
  width: 100%;
  list-style: none;
  margin: 0 15px 0 0;
}

nav ul li {
  float: right;
  margin: 0px;

  color: white;
}

nav ul li a {
  background-color:#2A52BE;
  font-weight: 500;
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 10px;
}

nav div:hover {
  text-decoration: underline;
}

nav ul li a:hover {
  text-decoration: underline;
}

section.page-container {
  width: 800px;
  padding: 1em 0 1em 0;
  margin: 20px auto;
}

section.page-container.content {
  box-shadow: 1px 1px .5px .5px #d4d3d1;
}

section.page-container img {
  max-height: 300px;
  width: auto;
  display: block;
  margin: 1em auto;
}

section.page-container h1 {
  margin: 1em 0 0 0;
  font-size: 2.5em;
  font-weight: 700;
}

section.page-container h2 {
  margin: 0 0 1em 0;
  font-size: 1.75em;
  font-weight: 700;
}
section.page-container h3 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}
section.page-container p {
  font-size: 1.5em;
  margin: 0 1em 0 1em;
  text-align: justify;
}
section.page-container p:nth-child(2) {
  margin: 0 20px 0 20px;
}
section.page-container article.featured-post {
  box-shadow: 1px 1px 10px .5px gray;
  padding: 10px;
  margin: 10px auto;
}
section.page-container article.featured-post img {
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 10px;
}
section.page-container article.featured-post h2 {
  text-decoration: underline;
  font-size: 2.5em;
  font-weight: 700;
  margin: 5px;
}
section.page-container article.featured-post h4 {
  font-size: 2em;
  font-weight: 700;
  margin: 5px;
}
section.page-container article.featured-post p {
  font-size: 2em;
  text-align: justify;
}
section.page-container article.article-link {

  box-shadow: 1px 1px 10px .5px gray;
  padding: 10px;
  margin: 10px auto;
}
section.page-container article.article-link img {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 10px;
}
section.page-container article.article-link h2 {
  text-decoration: underline;
  font-size: 2em;
  font-weight: 700;
  margin: 5px;
}
section.page-container article.article-link h4 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 5px;
}
section.page-container article.article-link p {
  font-size: 1.5em;
  text-align: justify;
}


a {
  h2{
  color: #2952BE;
  }
}
a:visited {
  h2 {
    color: purple;
  }
}